@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(to right, #5ecde1, #2caee2);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

.nav h2{
    font-size: 2em;
    font-weight: 500;
    color: white;
}

.nav h2 i{
    margin-right: 10px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input input{
    font-size: 1.5em;
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
}

.input button{
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid white;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
    color: white;
}

.input input::placeholder{
    color: white;
    opacity: .5;
}

.input button:hover{
    background: white;
    box-shadow: 0 0 10px white;
    color: black;
}

.to-do-items{
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin: 2em 0;
}

.item h1{
    font-size: 2em;
    color: white;
    text-transform: uppercase;
}

.icons i{
    font-size: 1.5em;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: .4s;
}

.icons i:hover{
    text-shadow: 0 0 3px white;
}

@media(max-width:768px){
    .nav{
        align-items: center;
        flex-direction: column;
    }

    .nav h2{
        margin: 10px 0;
    }

    .user-input{
        width: 100%;
    }

    .to-do-items{
        width: 90%;
    }

    .item h1{
        font-size: 1.5em;
    }

    .item .icons i{
        font-size: 1.5em;
    }
}